<div class="media">
    <div class="media-body">
        <h2>Delivery Channel Details - {{channel.Name}}</h2>
        <ul class="nav nav-tabs">
            <li role="presentation" ng-click="selectTab(1)" ng-class="isActive(1) ? 'active' : ''"><a href="javascript:void(0);">Channel</a></li>
            <li role="presentation" ng-click="selectTab(2)" ng-class="isActive(2) ? 'active' : ''"><a href="javascript:void(0);">Origin</a></li>
            <li role="presentation" ng-click="selectTab(3)" ng-class="isActive(3) ? 'active' : ''"><a href="javascript:void(0);">Ingest Security</a></li>
            <li role="presentation" ng-click="selectTab(4)" ng-class="isActive(4) ? 'active' : ''"><a href="javascript:void(0);">Preview Security</a></li>
            <li role="presentation" ng-click="selectTab(5)" ng-class="isActive(5) ? 'active' : ''"><a href="javascript:void(0);">Playback Security</a></li>
        </ul>
        <div class="tabpane active" ng-show="isActive(1)">
            <table>
                <tr>
                    <td><strong>Service Id:</strong></td>
                    <td>{{channel.Id}}</td>
                </tr>
                <tr>
                    <td><strong>Name:</strong></td>
                    <td>{{channel.Name}}</td>
                </tr>
                <tr>
                    <td><strong>Description:</strong></td>
                    <td>{{channel.Description}}</td>
                </tr>
                <tr>
                    <td><strong>Location:</strong></td>
                    <td>{{account.Datacenter}}</td>
                </tr>
                <tr>
                    <td><strong>Encoding Type:</strong></td>
                    <td>{{channel.EncodingType}}</td>
                </tr>
                <tr ng-if="channel.EncodingType !=='None'">
                    <td><strong>Encoding Preset:</strong></td>
                    <td>{{channel.EncodingPreset}}</td>
                </tr>
                <tr>
                    <td><strong>FMP4 Frag. Dur.:&nbsp;</strong></td>
                    <td>{{channel.FragmentDuration}}</td>
                </tr>
                <tr>
                    <td><strong>Frags./HLS Segm.:&nbsp;</strong></td>
                    <td>{{channel.HLSPackingRatio}}</td>
                </tr>
                <tr>
                    <td><strong>Created:&nbsp;</strong></td>
                    <td>{{channel.Created}}</td>
                </tr>
                <tr>
                    <td><strong>Last Modified:&nbsp;</strong></td>
                    <td>{{channel.LastModified}}</td>
                </tr>
            </table>
            <hr/>
            <div class="col-sm-12">
                <label for="ingestUrl"><strong>Ingest URL:</strong></label>
                <div class="input-group" ng-repeat="url in channel.IngestUrls">
                    <input id="ingestUrl " type="text" class="form-control" readonly value="{{url}}" />
                    <span ng-click="copy($event)" class="input-group-addon glyphicon glyphicon-copy"></span>
                </div>
            </div>
            <div ng-if="channel.EncodingType !=='None'" class="col-sm-12">
                <label for="thumbnailUrl"><strong>Thumbnail URL:</strong></label>
                <div class="input-group">
                    <input id="thumbnailUrl " type="text" class="form-control" readonly value="{{channel.ThumbnailUrl}}" />
                    <span ng-click="copy($event)" class="input-group-addon glyphicon glyphicon-copy"></span>
                </div>
            </div>
            <div class="col-sm-12">
                <label for="ingestUrl"><strong>Preview URL:</strong></label>
                <div class="input-group">
                    <input id="ingestUrl "type="text" class="form-control" readonly value="{{channel.PreviewUrl}}" />
                    <span ng-click="copy($event)" class="input-group-addon glyphicon glyphicon-copy"></span>
                </div>
            </div>
        </div>
        <div class="tabpane" ng-show="isActive(2)">
            <table>
                <tr>
                    <td><strong>Service&nbsp;Id:&nbsp;</strong></td>
                    <td>{{origin.Id}}</td>
                </tr>
                <tr>
                    <td><strong>Name:&nbsp;</strong></td>
                    <td>{{origin.Name}}</td>
                </tr>
                <tr>
                    <td><strong>HostName:&nbsp;</strong></td>
                    <td>{{origin.HostName}}</td>
                </tr>
                <tr>
                    <td><strong>Description:&nbsp;</strong></td>
                    <td>{{origin.Description}}</td>
                </tr>
                <tr>
                    <td><strong>Location:&nbsp;</strong></td>
                    <td>{{account.Datacenter}}</td>
                </tr>
                <tr>
                    <td><strong>Reserved &nbsp;Units:&nbsp;</strong></td>
                    <td>{{origin.ReservedUnits}}</td>
                </tr>
                <tr>
                    <td><strong>Created:&nbsp;</strong></td>
                    <td>{{origin.Created}}</td>
                </tr>
                <tr>
                    <td><strong>Last Modified:&nbsp;</strong></td>
                    <td>{{origin.LastModified}}</td>
                </tr>
                <tr>
                    <td><strong>Playback &nbsp;Max.&nbsp;Cache&nbsp;Age:&nbsp;</strong></td>
                    <td>{{origin.MaxAge}}</td>
                </tr>
            </table>
        </div>
        <div class="tabpane" ng-show="isActive(3)">
            <fieldset>
                <legend><strong>Ingest&nbsp;IPv4&nbsp;Allow&nbsp;List</strong></legend>
                <textarea readonly rows="5" >{{channel.IngestAllowList}}</textarea>
            </fieldset>
        </div>
        <div class="tabpane" ng-show="isActive(4)">
            <fieldset>
                <legend><strong>Preview&nbsp;IPv4&nbsp;Allow&nbsp;List</strong></legend>
                <textarea readonly rows="5" >{{channel.PreviewAllowList}}</textarea>
            </fieldset>
        </div>
        <div class="tabpane" ng-show="isActive(5)">
            <fieldset class="col-sm-12">
                <legend><strong>Playback&nbsp;IPv4&nbsp;Allow&nbsp;List</strong></legend>
                <textarea readonly rows="5" >
                    {{origin.IPAllowList}}
                </textarea>
            </fieldset>
            <h4>G20 Authentication Keys:</h4>
            <table class="table table-bordered">
                <colgroup>
                    <col class="col-md-3" />
                    <col class="col-md-6" />
                    <col class="col-md-3" />
                </colgroup>
                <thead>
                    <tr>
                        <th>Identifier</th>
                        <th>Base64&nbsp;Key</th>
                        <th>Expiration</th>
                    </tr>
                </thead>
                <tr ng-repeat="key in origin.AuthenticationKeys">
                    <td>{{key.Identifier}}</td>
                    <td>{{key.Base64Key}}</td>
                    <td>{{key.Expiration | date:medium}}</td>
                </tr>
            </table>
        </div>
 
        <div>{{error}}</div>
    </div>
    <div class="media-right">
        <button type="button" class="close" aria-label="Close" ng-click="$close()"><span class="glyphicon glyphicon-remove"></span></button>
    </div>
</div>
