<div class="media">
    <div class="media-body">
        <h2>Insert Slate/Ad...</h2>
        <form name="form" class="form-horizontal">
            <div class="form-group">
                <label class="col-sm-3 control-label">Location</label>
                <div class="col-sm-9">
                    <p class="form-control-static">{{account.Datacenter}}</p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">Channel Name</label>
                <div class="col-sm-9">
                    <p class="form-control-static">{{channel.Name}}</p>
                </div>
            </div>
            <div class="form-group" ng-class="{'has-error': form.duration.$invalid}">
                <label for="duration" class="col-sm-3 control-label">Duration</label>
                <div class="col-sm-9">
                    <div class="input-group">
                        <input type="number" id="duration" name="duration" class="form-control" ng-model="duration" required/>
                        <span class="input-group-addon">Seconds</span>
                    </div>
                </div>
            </div>
            <div class="form-group" ng-class="{'has-error': form.cueid.$invalid}">
                <label for="cueid" class="col-sm-3 control-label">Cue Id</label>
                <div class="col-sm-9">
                    <div class="input-group">
                        <input type="number" id="cueid" name="cueid" class="form-control" ng-model="cueId" ng-pattern="/^\d+$/" />
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="generate()">Generate</button>
                        </span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">Slate Asset or URL</label>
                <div class="col-sm-9">
                    <div class="input-group">
                        <input type="text" class="form-control" ng-model="slateAssetId" />
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default">Select Asset</button>
                        </span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">Name</label>
                <div class="col-sm-9">
                    <p class="form-control-static">{{channel.Name}}</p>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-3 col-sm-9">
                    <button class="btn btn-primary" ng-click="insertSlate()" ng-disabled="form.$invalid">Insert Slate</button>
                    <button class="btn btn-primary" ng-click="insertAd(false)" ng-disabled="form.$invalid || form.cueid.$invalid">Insert Ad</button>
                    <button class="btn btn-primary" ng-click="insertAd(true)" ng-disabled="form.$invalid || form.cueid.$invalid">Insert Ad+Slate</button>
                </div>
            </div>
        </form>
    </div>
    <div class="media-right">
        <button type="button" class="close" aria-label="Close" ng-click="$close()"><span class="glyphicon glyphicon-remove"></span></button>
    </div>
</div>
