<link href="//amp.azure.net/libs/amp/1.6.3/skins/amp-default/azuremediaplayer.min.css" rel="stylesheet">
<script src="//amp.azure.net/libs/amp/1.6.3/azuremediaplayer.min.js"></script>

<div class="row-fluid">
    <!--  Seating chart -->
    <div class="seating-chart col-md-2">
        <div class="row">
            <div class="" ng-class="$index == 0 ? 'col-md-7':'col-md-5'" ng-repeat="acc in customer.Accounts track by acc.Id">
                <table>
                    <thead>
                        <tr>
                            <td></td>
                            <th>{{acc.Datacenter}}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="seatingChartRow" ng-repeat="c in acc.Channels track by c.Id">
                            <td>
                                <a class="linkTo" ng-click="scrollTo(c.NameShort)">{{$parent.$index ==0 ? c.NameShort : "" | uppercase}}</a>
                            </td>
                            <td>
                                <img ng-src="/Content/i-{{c.IngestHealth}}.png" />
                                <img ng-src="/Content/a-{{c.ArchiveHealth}}.png" />
                                <img ng-src="/Content/o-{{c.OriginHealth}}.png" />
                                <img ng-src="/Content/e-{{c.EncodingHealth}}.png" />
                            </td>
                        </tr>
                        <tr class="seatingChartRow" ng-repeat="o in acc.vodOrigins track by o.Id">
                            <td>
                                <a ng-click="scrollTo(o.NameShort)">{{$parent.$index ==0 ? o.NameShort + "(O)" : ""}}</a>
                            </td>
                            <td>
                                <img src="/Content/i-0.png" />
                                <img  src="/Content/a-0.png" />
                                <img ng-src="/Content/o-{{o.Health}}.png" />
                                <img  src="/Content/e-0.png" />
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="channel-list col-md-10">
        <div id="loader">
            <i>Loading account...</i>
        </div>

        <div class="row">
            <div class="col-md-6 account" ng-repeat="acc in customer.Accounts track by acc.Id">
                <table class="account">
                    <thead>
                        <tr>
                            <th></th>
                            <th colspan="8">{{acc.Datacenter}} ({{acc.Name}})</th>
                        </tr>
                    </thead>
                    <tbody ng-repeat="c in acc.Channels track by c.Id">
                        <tr id="channel">
                            <td id="{{c.NameShort}}" ><div ng-class="'level' + c.Health"></div></td>
                            <td><a class="linkTo" ng-click="showChannelDetails(acc,c)">{{c.NameShort | uppercase}}</a></td>
                            <td></td>
                            <td>
                                <span ng-if="c.EncodingType !== 'None'" class="{{isTrue(c.ClientEncodingDiff)}}">Encoding&nbsp;preset:&nbsp;{{c.EncodingPreset}}</span>
                                <span ng-if="c.EncodingType === 'None'" class="{{isTrue(c.ClientFragDiff)}}">Fragment&nbsp;Duration:&nbsp;{{c.FragmentDuration}}</span>
                                <br /><span class="{{isTrue(c.ClientPackingRatioDiff)}}">HLS&nbsp;Packing&nbsp;Ratio:&nbsp;{{c.HLSPackingRatio}}</span>
                            </td>
                            <td>
                                {{c.State}}&nbsp;
                                <!--{{c.RunningTime}}-->
                            </td>
                            <td>
                                <table class="icons">
                                    <tr>
                                        <td><img src="/Content/edit.png" title="Edit channel" /></td>
                                        <td><img class="linkTo" src="/Content/preview.png" ng-click="popupPreview(c.PreviewUrl)" title="View preview" /></td>
                                    </tr>
                                    <tr>
                                        <td><img class="linkTo" src="/Content/info.png" ng-click="showAlerts(acc, c)" title="View alerts" /></td>
                                        <td><img src="/Content/90.png" /></td>
                                    </tr>
                                </table>
                            </td>
                            <td>
                                <table class="icons">
                                    <tr>
                                        <td><img class="linkTo" ng-src="/Content/i-{{c.IngestHealth}}.png" ng-click="showIngestMetrics(acc, c)" title="View ingest metrics" /></td>
                                        <td><img src="/Content/a-0.png" /></td>
                                    </tr>
                                    <tr>
                                        <td><img class="linkTo" ng-src="/Content/e-{{c.EncodingHealth}}.png" ng-click="c.EncodingType !== 'None' && showEncodingMetrics(acc, c)" title="View encoding metrics"/></td>
                                        <td><img class="linkTo" ng-src="/Content/o-{{c.OriginHealth}}.png" ng-click="showChannelOriginMetrics(acc, c)" title="View origin metrics"/></td>
                                    </tr>
                                </table>
                            </td>
                            <td>
                                <div class="thumbnails" ng-class="c.State ==='Running' ? 'linkTo' : ''" ng-click="endPreview(c, $event)">
                                    <img ng-show="!hasPreview(c)" ng-src="{{getThumbnail(c)}}" ng-click="startChannelPreview(c, $event)" title="Click for playback" />
                                </div>
                            </td>
                            <td>
                                <div class="popupmenu dropdown" >
                                    <a class="dropdown-toggle linkTo" data-toggle="dropdown">...</a>
                                    <ul class="dropdown-menu pull-right">
                                        <li ng-if="operator"><a href="" ng-if="c.State==='Stopped'" ng-click="startChannel(acc, c)">Start Channel</a></li>
                                        <li ng-if="operator"><a href="" ng-if="c.State==='Running'" ng-click="resetChannel(acc, c)">Reset Channel</a></li>
                                        <li ng-if="operator"><a href="" ng-if="c.State==='Running'" ng-click="stopChannel(acc, c)">Stop Channel</a></li>
                                        <li ng-if="operator"><a href="" ng-if="c.State ==='Running' && c.EncodingType !=='None'" ng-click="insertSlate(acc,c)">Insert Slate/Ad...</a></li>
                                        <li ng-if="operator"><a href="" ng-if="getOrigin(acc, c).State =='Stopped'" ng-click="startChannelOrigin(acc, c)">Start Origin</a></li>
                                        <li ng-if="operator"><a href="" ng-if="getOrigin(acc, c).State =='Running'" ng-click="stopChannelOrigin(acc, c)">Stop Origin</a></li>
                                        <li ng-if="admin"><a href="" ng-click="createProgram(acc, c)">Create Program...</a></li>
                                        <li ng-if="admin"><a href="" ng-click="updateChannel(acc, c)">Update Channel...</a></li>
                                        <li ng-if="admin"><a href="" ng-if="c.State==='Stopped'" ng-click="deleteChannel(acc, c)" >Delete Channel...</a></li>
                                        <li ng-if="admin"><a href="" ng-click="createChannel(acc)">Create Channel...</a></li>
                                        <li ng-if="admin"><a href="" ng-click="updateOrigin(acc, getOrigin(acc,c))">Update Origin...</a></li>
                                        <li ng-if="admin"><a href="" ng-click="deleteOrigin(acc, getOrigin(acc,c))">Delete Origin...</a></li>
                                        <li ng-if="admin"><a href="" ng-click="createOrigin(acc)">Create Origin...</a></li>
                                        <li><a href="" ng-click="showAlerts(acc, c)">View Alerts...</a></li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                        <!-- Programs of a Channel-->
                        <tr ng-show="c.Programs.length > 0" ng-repeat="p in c.Programs track by p.Id">
                            <td colspan="2"></td>
                            <td><div ng-class="'level' + p.Health"></div></td>
                            <td><a class="linkTo" ng-click="showProgramInfo(p, c, acc, c.OriginId)">{{p.Name}}</a></td>
                            <td>{{p.State}}</td>
                            <td>
                                <table class="icons">
                                    <tr>
                                        <td><img src="/Content/edit.png" /></td>
                                        <td><img class="linkTo" src="/Content/preview.png" ng-click="showProgramPreview(acc, c, p)" title="View program" /></td>
                                    </tr>
                                    <tr>
                                        <td><img src="/Content/info.png" title="Program Info" /></td>
                                        <td><img src="/Content/90.png" /></td>
                                    </tr>
                                </table>
                            </td>
                            <td>
                                <table class="icons">
                                    <tr>
                                        <td><img src="/Content/i-0.png" /></td>
                                        <td><img class="linkTo" ng-src="/Content/a-{{p.ArchiveHealth}}.png" ng-click="showArchiveMetrics(acc, c)" title="View archive metrics" /></td>
                                    </tr>
                                    <tr>
                                        <td><img src="/Content/e-0.png" /></td>
                                        <td><img class="linkTo" ng-src="/Content/o-{{p.OriginHealth}}.png" ng-click="showChannelOriginMetrics(acc, c)" title="View origin metrics" /></td>
                                    </tr>
                                </table>
                            </td>
                            <td>
                                <div class="thumbnails" ng-class="p.State ==='Running' ? 'linkTo' : ''" ng-click="endPreview(p, $event)">
                                    <img ng-show="!hasPreview(p)" src="/Content/screen.png" ng-click="startProgramPreview(acc, c, p, $event)" title="Click for playback" />
                                </div>
                            </td>
                            <td>
                                <div class="popupmenu dropdown">
                                    <a class="dropdown-toggle linkTo" data-toggle="dropdown">...</a>
                                    <ul class="dropdown-menu pull-right">
                                        <li ng-if="operator"><a href="" ng-if="p.State ==='Stopped'" ng-click="startProgram(acc, p)">Start Program</a></li>
                                        <li ng-if="operator"><a ng-if="p.State ==='Running'" ng-click="stopProgram(acc,p)">Stop Program</a></li>
                                        <li ng-if="operator"><a href="" ng-click="updateProgram(acc, c, p)">Update Program...</a></li>
                                        <li ng-if="admin"><a href="" ng-if="p.State==='Stopped'" ng-click="deleteProgram(acc, c, p)">Delete Program...</a></li>
                                        <li><a href="">View Alerts</a></li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                    <!-- VOD Origins -->
                    <tr ng-repeat="o in acc.vodOrigins track by o.Id" id="origin">
                        <td id="{{o.NameShort}}"><div ng-class="'level' + o.Health"></div></td>
                        <td colspan="3"><a class="linkTo" ng-click="showOriginInfo(o)">{{o.Name | uppercase}}</a> (Origin Only)</td>
                        <td>
                            {{o.State}}<br/>
                            {{o.RunningTime}}
                        </td>
                        <td>
                            <table class="icons">
                                <tr>
                                    <td><img src="/Content/edit.png" /></td>
                                    <td><img src="/Content/preview.png" /></td>
                                </tr>
                                <tr>
                                    <td><img class="linkTo" src="/Content/info.png" ng-click="showOriginAlerts(acc, o)" title="View alerts" /></td>
                                    <td><img src="/Content/90.png" /></td>
                                </tr>
                            </table>
                        </td>
                        <td>
                            <table class="icons">
                                <tr>
                                    <td><img src="/Content/i-0.png" /></td>
                                    <td><img src="/Content/a-0.png" /></td>
                                </tr>
                                <tr>
                                    <td><img src="/Content/e-0.png" /></td>
                                    <td><img class="linkTo" ng-src="/Content/o-{{o.Health}}.png" ng-click="showOriginMetrics(acc, o)" title="View origin metrics" /></td>
                                </tr>
                            </table>
                        </td>
                        <td>
                            <div class="thumbnails" >
                                <img src="/Content/screen.png" />
                            </div>
                        </td>
                        <td>
                            <div class="popupmenu dropdown">
                                <a class="dropdown-toggle linkTo" data-toggle="dropdown">...</a>
                                <ul class="dropdown-menu pull-right">
                                    <li ng-if="operator"><a href="" ng-if="o.State ==='Stopped'" ng-click="startOrigin(acc,o)" >Start Origin</a></ling-if="operator">
                                    <li ng-if="operator"><a href="" ng-if="o.State ==='Running'" ng-click="stopOrigin(acc,o)" >Stop Origin</a></li>
                                    <li ng-if="admin"><a href="" ng-click="updateOrigin(acc, o)">Update Origin...</a></li>
                                    <li ng-if="admin"><a href="" ng-if="o.State==='Stopped'" ng-click="deleteOrigin(acc, o)">Delete Origin...</a></li>
                                    <li ng-if="admin"><a href="" ng-click="createChannel(acc)">Create Channel...</a></li>
                                    <li ng-if="admin"><a href="" ng-click="createOrigin(acc)">Create Origin...</a></li>
                                    <li><a href="" ng-click="showOriginAlerts(acc,o)">View Alerts</a></li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>

        <div class="refresh-counter">
            <sub>Last refreshed: {{customerLastRefreshTime|date:'medium'}}</sub>
            <div class="alert-warning">{{customerError}}</div>
            <sub>Auto refresh counter: {{refreshViewCount}}</sub>
          </div>
    </div>
</div>
