<div class="media">
    <div class="media-body">
        <h2>Channel: {{channel.NameShort}}</h2>

        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Track Type</th>
                    <th>Track Name</th>
                    <th>Bitrate (bps)</th>
                    <th>Incoming Bitrate (bps)</th>
                    <th>Last Timestamp</th>
                    <th>Discontinuity count</th>
                    <th>Overlap count</th>
                    <th>Bitrate Ratio (%)</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="group in metricGroups">
                    <td><img ng-if="group.Health>0" ng-src="/Content/Level-{{group.Health}}.png" />{{group.TrackType}}</td>
                    <td>{{group.TrackName}}</td>
                    <td  ng-repeat="metric in group.Metrics"><img ng-if="metric.Health>0" ng-src="/Content/Level-{{metric.Health}}.png" />{{metric.Value}}</td>
                </tr>
            </tbody>
        </table>
        <sub>Last refreshed: {{lastRefreshTime|date:'medium'}}</sub>
        <sub>Auto refresh counter: {{refreshViewCount}}</sub>
        <div>{{error}}</div>
    </div>
    <div class="media-right">
        <button type="button" class="close" aria-label="Close" ng-click="$close()"><span class="glyphicon glyphicon-remove"></span></button>
    </div>
</div>