<div class="media">
    <div class="media-body">
        <h2>Delete Origin ...</h2>
        <p>
            <span class="label label-warning">Warning</span>Are you sure you want to delete the origin?
        </p>
        <form name="form" class="form-horizontal">
            <div class="form-group">
                <label class="col-sm-3 control-label">Location</label>
                <div class="col-sm-9">
                    <p class="form-control-static">{{account.Datacenter}}</p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">Name</label>
                <div class="col-sm-9">
                    <p class="form-control-static">{{origin.Name}}</p>
                </div>
            </div>
            <button class="btn btn-danger" type="submit" ng-click="delete()">Delete</button>
            <button class="btn btn-info" ng-click="$close()">Cancel</button>
        </form>
    </div>
    <div class="media-right">
        <button type="button" class="close" aria-label="Close" ng-click="$close()"><span class="glyphicon glyphicon-remove"></span></button>
    </div>
</div>
