<div class="media container-fluid">
    <div class="media-body">
        <h2>Origin: {{origin.Name}}</h2>
        <h4>Location: {{account.Datacenter}}</h4>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Status Code</th>
                    <th>Request Count</th>
                    <th>Bytes Sent (Mbits)</th>
                    <th>Server Latency (ms)</th>
                    <th>E2E Latency (ms)</th>
                    <th>Request Rate (/min)</th>
                    <th>Bandwidth (Mbps)</th>
                    <th>Request Ratio (%)</th>
                    <!--<th>Result Code</th>-->
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="group in metricGroups">
                    <td><img ng-if="group.Health>0" ng-src="/Content/Level-{{group.Health}}.png" />{{group.Name}}</td>
                    <td ng-repeat="metric in group.Metrics"><img ng-if="metric.Health>0" ng-src="/Content/Level-{{metric.Health}}.png" />{{metric.Value}}</td>
                </tr>
            </tbody>
        </table>
        <sub>Last refreshed: {{lastRefreshTime|date:'medium'}}</sub>
        <sub>Auto refresh counter: {{refreshViewCount}}</sub>
        <div>{{error}}</div>
    </div>
    <div class="media-right">
        <button type="button" class="close" aria-label="Close" ng-click="$close()"><span class="glyphicon glyphicon-remove"></span></button>
    </div>
</div>