<div id="media">
    <div class="media-body">
        <div class="row">
            <div class="col-sm-1"><label for="url">URL:</label></div>            
            <div class="col-sm-11">
                <div class="input-group">
                    <input id="url" type="text" class="form-control" readonly ng-model="playbackUrl" />
                    <span ng-click="copy($event)" class="input-group-addon glyphicon glyphicon-copy"></span>
                </div>
            </div>
        </div>
        <video id="popupplayer"
               class="azuremediaplayer amp-default-skin amp-big-play-centered">
            <p class="amp-no-js">To view this video please enable JavaScript, and consider upgrading to a web browser that supports HTML5 video</p>
        </video>
    </div>
    <div class="media-right">
        <button class="close" aria-label="Close" ng-click="close()"><span class="glyphicon glyphicon-remove"></span></button>
    </div>
</div>
