<div class="media">
    <div class="media-body">
        <h2>Program Details</h2>
        <ul class="nav nav-tabs">
            <li role="presentation" ng-click="selectTab(1)" ng-class="isActive(1) ? 'active' : ''"><a>General</a></li>
            <li role="presentation" ng-click="selectTab(2)" ng-class="isActive(2) ? 'active' : ''"><a>Streaming</a></li>
        </ul>
        <div class="tabpane" ng-show="isActive(1)">
            <table class="table">
                <tr>
                    <td><strong>Channel&nbsp;:</strong></td>
                    <td>{{channel.Name}}</td>
                </tr>
                <tr>
                    <td><strong>Location&nbsp;:</strong></td>
                    <td>{{account.Datacenter}}</td>
                </tr>
                <tr>
                    <td><strong>Program&nbsp;ID:</strong></td>
                    <td>{{program.Id}}</td>
                </tr>
                <tr>
                    <td><strong>Name&nbsp;:</strong></td>
                    <td>{{program.Name}}</td>
                </tr>
                <tr>
                    <td><strong>Description&nbsp;:</strong></td>
                    <td>{{program.Description}}</td>
                </tr>
                <tr>
                    <td><strong>Asset&nbsp;ID:</strong></td>
                    <td>{{program.AssetId}}</td>
                </tr>
                <tr>
                    <td><strong>Created&nbsp;:</strong></td>
                    <td>{{program.Created | date:'medium'}}</td>
                </tr>
                <tr>
                    <td><strong>Last&nbsp;Modified:</strong></td>
                    <td>{{program.LastModified | date:'medium'}}</td>
                </tr>
            </table>
        </div>
        <div ng-show="isActive(2)">
            <table class="table table-borderless">
                <colgroup>
                    <col class="col-md-3"/>
                    <col class="col-md-9"/>
                </colgroup>
                <tr>
                    <td><strong>Program&nbsp;State:</strong></td>
                    <td>{{program.State}}</td>
                </tr>
                <tr>
                    <td><strong>DVR&nbsp;Window&nbsp;Length:</strong></td>
                    <td>{{program.ArchiveWindowLength}}</td>
                </tr>
                <tr>
                    <td><strong>Smooth&nbsp;Streaming&nbsp;URL:</strong></td>
                    <td>
                        <div class="input-group">
                            <input type="text" class="form-control" readonly value="{{program.Urls.SmoothStreamUrl}}" />
                            <span class="input-group-btn">
                                <button class="btn btn-secondary" ng-click="copy($event)"><span class="glyphicon glyphicon-copy"></span></button>
                            </span>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td><strong>HDS&nbsp;URL:</strong></td>
                    <td>
                        <div class="input-group">
                            <input type="text" class="form-control" readonly value="{{program.Urls.HDSUrl}}" />
                            <span class="input-group-btn">
                                <button class="btn btn-secondary" ng-click="copy($event)"><span class="glyphicon glyphicon-copy"></span></button>
                            </span>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td><strong>HLS&nbsp;URL:</strong></td>
                    <td>
                        <div class="input-group">
                            <input type="text" class="form-control" readonly value="{{program.Urls.HLSUrl}}" />
                            <span class="input-group-btn">
                                <button class="btn btn-secondary" ng-click="copy($event)"><span class="glyphicon glyphicon-copy"></span></button>
                            </span>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td><strong>MPEG&nbsp;Dash&nbsp;URL:</strong></td>
                    <td>
                        <div class="input-group">
                            <input type="text" class="form-control" readonly value="{{program.Urls.MPEGDashUrl}}" />
                            <span class="input-group-btn">
                                <button class="btn btn-secondary" ng-click="copy($event)"><span class="glyphicon glyphicon-copy"></span></button>
                            </span>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div class="media-right">
        <button type="button" class="close" aria-label="Close" ng-click="$close()"><span class="glyphicon glyphicon-remove"></span></button>
    </div>
</div>