<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!-- Media Services config -->
    <!--<add key="MediaServicesAccountName" value="" />
    <add key="MediaServicesAccountKey" value="" />
    <add key="MediaServicesAccountApiUrl" value="" />
    <add key="MediaServicesAccountScope" value="" />
    <add key="MediaServicesAccountAcsBaseAddress" value="" />-->

    <!-- Media Services config - TEST Environment -->
    
    <add key="MediaServicesAccountName" value="streamingdev" />
    <add key="MediaServicesAccountKey" value="vUeuvDU3MIgHuFZCU3cX+24wWg6r4qho594cRcEr5fU=" />
    <add key="MediaServicesAccountApiUrl" value="https://jopayn02-rest.cloudapp.net/api" />
    <add key="MediaServicesAccountScope" value="urn:Nimbus" />
    <add key="MediaServicesAccountAcsBaseAddress" value="https://nimbustestaccounts.accesscontrol.windows.net" />
    

    <!-- Media Services config - PROD Environment -->
    <!--
    <add key="MediaServicesAccountName" value="nbctools1" />
    <add key="MediaServicesAccountKey" value="0nl/soMB8nQtuwpzxtMjZAYnNtD2qb8MQjTFhMh7rA4=" />
    <add key="MediaServicesAccountApiUrl" value="" />
    <add key="MediaServicesAccountScope" value="" />
    <add key="MediaServicesAccountAcsBaseAddress" value="" />
    -->
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Edm" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.7.0.0" newVersion="5.7.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Services.Client" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.7.0.0" newVersion="5.7.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.OData" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.7.0.0" newVersion="5.7.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.WindowsAzure.Storage" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.2.0.0" newVersion="6.2.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>